html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#map {
	height: 100%;
	position: relative;
}

#filter {
	position: absolute;
	top: 44px;
	left: -5px;
	z-index: 99;
}

.filter-box {
	width: 250px;
	height: 32px;
}