@import url(http://weloveiconfonts.com/api/?family=iconicfill);


html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}


/*fonts*/

/* iconicfill */
[class*="iconicfill-"]:before {
  font-family: 'IconicFill', sans-serif;
}


#map {
	height: 100%;
	position: relative;
	z-index: 1;
}

#filter {
	position: absolute;
	top: 44px;
	left: -5px;
	z-index: 99;
}

.filter-box {
	width: 250px;
	height: 32px;
}


/*Slide in Menu*/

.filter-menu {
	z-index: 98;
    background-color: orange;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    /* This trasform moves the drawer off canvas. */
    -webkit-transform: translate(-480px, 0);
    transform: translate(-480px, 0);
    /* Optionally, we animate the drawer. */
    transition: transform 0.4s ease;
}

.filter-menu.is-active {
	-webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.close-button {
	z-index: 100;
    position: absolute;
    padding: 1em;
    color: black;
    font-size: 2em;
  }
